spring.jpa.hibernate.ddl-auto=update
spring.datasource.dbcp2.driver-class-name= com.mysql.jdbc.Driver
spring.datasource.url={url}
spring.datasource.username={username}
spring.datasource.password={password}