<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main:: main-fragment(
                                                ~{:: content},
                                                ~{:: menu},
                                                ~{:: footer}
                                               )}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div th:fragment="menu">
    Test menu
</div>

<div th:fragment="content" class="mt-4">
    <div class="form-group">
        <input type="text" class="form-control city-name" placeholder="City name">
        <select class="form-control api-type">
            <option value="" disabled selected>Select api type</option>
            <option value="" th:each="api : ${apiList}" th:utext="${api}" th:value="${api}"></option>
        </select>

        <input type="button" value="Get" class="btn btn-primary btn-load-weather">

        <table class="table table-striped table-hover table-bordered table-sm result">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Field</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody class="tbody">
                <tr>
                    <td>Name</td>
                    <td class="field-name"></td>
                </tr>
                <tr>
                    <td>Temperature</td>
                    <td class="field-temperature"></td>
                </tr>
                <tr>
                    <td>Feels like</td>
                    <td class="field-feels-like"></td>
                </tr>
                <tr>
                    <td>Pressure</td>
                    <td class="field-pressure"></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td class="field-description"></td>
                </tr>
                <tr>
                    <td>Wind speed</td>
                    <td class="field-wind-speed"></td>
                </tr>
            </tbody>

        </table>

    </div>

</div>

<div th:fragment="footer">
    Footer on the index page
</div>
</body>

</html>